*
{
     box-sizing: border-box;
     vertical-align: middle;
     text-align: center;
     margin-left:auto;
     margin-right: auto;
     font-family: "Open Sans", arial, "Apple SD Gothic Neo", "Noto Sans Korean", 본고딕,
     "KoPubDotum Medium", 나눔바른고딕, 나눔고딕, NanumGothic, 맑은고딕, "Malgun Gothic", sans-serif;
}

body
{
     margin-left: 20%;
     margin-right: 20%;
     border-style: groove;
}

.roomnum
{
     margin-left: 30%;
     margin-right: 30%;
     border-style: double;
}

table
{
     text-align: center;
     line-height: 1.5;
}

th
{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
}

td
{
     width: 350px;
     padding: 10px;
     vertical-align: top;
          word-spacing : 5ex;
}

tr:nth-of-type(odd)
{
     background-color:#c5e8f4;
}
tr:nth-of-type(even)
{
     background-color:#F6FBFD;
}
